/* Carousel.scss */
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-image {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary);
  color: var(--primaryTextColor);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: var(--secondary);
}
