.accordion {
  border: var(--primaryBorder);
  border-radius: 4px;
  margin-bottom: 10px;
}

.accordion-title {
  background-color: var(--primary);
  padding: 10px;
  margin: 0;
  border-bottom: var(--primaryBorder);
  color: var(--secondaryColor);
}

.accordion-content {
  padding: 10px;
}
